.footer-background {
  background: linear-gradient(to bottom , #000, #3b2c3b); /* Degradado diagonal de rosa a negro */
  padding: 2rem 0rem;
}
.blurf {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.037);
  z-index: 5;
}

.custom-gradient {
  background: linear-gradient(to right, transparent 0%, white 50%, transparent 100%);
}
