@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Asegúrate de aplicar la fuente globalmente */
@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el body ocupe toda la altura del viewport */
  width: 100%;  /* Asegura que el body ocupe toda la anchura del viewport */
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./assets/fondo3.jpeg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; */
  background-color: #1b1a1b ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #1b1a1b; /* Color del track */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #f9b6f9; /* Color del thumb */
    border-radius: 10px;
    border: 2px solid #1b1a1b; /* Borde del thumb */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #ff79ff; /* Color del thumb al hacer hover */
  }
}

